<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tx.dao.AccountMapper">
    <select id="getAccountById" parameterType="int" resultType="cn.tx.model.Account">
        select * from t_account t where t.id = #{id}
    </select>

    <select id="selectAcountIds"  resultType="int">
        select t.id from t_account t
    </select>

    <insert id="save" parameterType="cn.tx.model.Account">
        <selectKey keyProperty="id" order="AFTER" resultType="int">
            select LAST_INSERT_ID()
        </selectKey>
        insert into t_account(id, name)values(null, #{name})
    </insert>
</mapper>